{% extends 'raw_base.html' %}

{% block content %}
  <!-- ***** Main Banner Area Start ***** -->
  <div class="swiper-container" id="top">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slide-inner" style="background-image:url(assets/images/slide-01.jpg)">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="header-text">
                  <h2><em>NLP-Powered</em> Tool.</h2>
                  <div class="div-dec"></div>
                  <p>
                    Get smarter on Keyword Analysis with RI Text Analytics Portal <br>
                    Uncover Text Insights with self-service. Tap into hundreds of documents — all in one place.
                  </p>
                  <p class="text-gray">Alpha Version 0.0.1</p>
                  <div class="buttons">
                    <div class="green-button">
                      <a href="#">Services</a>
                    </div>
                    <div class="orange-button">
                      <a href="#">Contact Us</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>

  <!-- ***** Main Banner Area End ***** -->

  <section class="services" id="services">
    <div class="container">
      <h1 class="text-center">Our Services</h1>
      <div class="row">
        <div class="col-lg-6">
          <div class="service-item">
            <i class="fas fa-archive"></i>
            <h4>Text Insights</h4>
            <p>
              Scan multiple documents at a rapid scale to find relevant documents, articles, etc. which can save almost 95% of time in 
              comparison to manual effort.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="service-item">
            <i class="fas fa-cloud"></i>
            <h4>News Insights</h4>
            <p>
              Structure news data into machine readable format and categorise them to themes.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="service-item">
            <i class="fas fa-charging-station"></i>
            <h4>Information Insights</h4>
            <p>
              Scan multiple documents at a rapid scale to find visual displays of text data - simple text analysis.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="service-item">
            <i class="fas fa-suitcase"></i>
            <h4>Social Media Insights</h4>
            <p>
              Listen to social conversations about your competitor, products and campaigns across social networks.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="simple-cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <h4>Fast and <em>reliable</em> solutions for your <strong>Text Analysis</strong></h4>
        </div>
        <div class="col-lg-7">
          <div class="buttons">
            <div class="green-button">
              <a href="#">Discover More</a>
            </div>
            <div class="orange-button">
              <a href="#">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about-us" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>About Us</h6>
            <h4>Know Us Better</h4>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-12">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="main-list">
                          <span class="title">Project Title</span>
                        </div>
                        <div class="list-item" style="color: #43ba7f; font-weight: 500;">
                          Auto categorizing news articles
                        </div>
                        <div class="list-item" style="color: #43ba7f; font-weight: 500;">
                          Predicting potential acquirors and divestors
                        </div>
                        <div class="list-item" style="color: #43ba7f; font-weight: 500;">
                          Mortgage loan forecasting
                        </div>
                        <div class="list-item" style="color: #43ba7f; font-weight: 500;">
                          Content Automation
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="main-list">
                          <span class="title">Project Title</span>
                          <span class="title">Budget</span>
                          <span class="title">Deadline</span>
                          <span class="title">Client</span>
                        </div>
                        <div class="list-item">
                          <span class="item item-title">Example Project</span>
                          <span class="item">$1,500 to $2,200</span>
                          <span class="item">2022 Dec 12</span>
                          <span class="item">Example Client</span>
                        </div>
                        <div class="list-item">
                          <span class="item item-title">Example Project</span>
                          <span class="item">$1,500 to $2,200</span>
                          <span class="item">2022 Dec 12</span>
                          <span class="item">Example Client</span>
                        </div>
                        <div class="list-item">
                          <span class="item item-title">Example Project</span>
                          <span class="item">$1,500 to $2,200</span>
                          <span class="item">2022 Dec 12</span>
                          <span class="item">Example Client</span>
                        </div>
                        <div class="list-item">
                          <span class="item item-title">Example Project</span>
                          <span class="item">$1,500 to $2,200</span>
                          <span class="item">2022 Dec 12</span>
                          <span class="item">Example Client</span>
                        </div>
                    </li>
                    <li>
                      <div>
                        <div class="main-list">
                          <span class="title">Project Title</span>
                          <span class="title">Budget</span>
                          <span class="title">Estimated</span>
                          <span class="title">Technology</span>
                        </div>
                        <div class="list-item">
                          <span class="item item-title">Example Project</span>
                          <span class="item">$1,500 to $2,200</span>
                          <span class="item">2022 Dec 12</span>
                          <span class="item">Example Client</span>
                        </div>
                        <div class="list-item">
                          <span class="item item-title">Example Project</span>
                          <span class="item">$1,500 to $2,200</span>
                          <span class="item">2022 Dec 12</span>
                          <span class="item">Example Client</span>
                        </div>
                        <div class="list-item">
                          <span class="item item-title">Example Project</span>
                          <span class="item">$1,500 to $2,200</span>
                          <span class="item">2022 Dec 12</span>
                          <span class="item">Example Client</span>
                        </div>
                        <div class="list-item">
                          <span class="item item-title">Example Project</span>
                          <span class="item">$1,500 to $2,200</span>
                          <span class="item">2022 Dec 12</span>
                          <span class="item">Example Client</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="right-content">
            <h4>This is a list of projects we have worked on previously</h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, amet officia! Consequatur reiciendis, delectus, aut voluptatem explicabo repellendus suscipit 
              voluptatibus assumenda blanditiis impedit voluptatum porro fugit architecto est dolores. 
              <br><br>
              Labore, inventore. Nostrum voluptatibus et aliquam, magni similique 
              doloribus perspiciatis labore harum, nisi accusamus iste nulla neque facere error maiores autem.
            </p>
            <div class="green-button">
              <a href="about-us.html">Discover More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="testimonials" id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>Testimonials</h6>
            <h4>What They Say</h4>
          </div>
        </div>
        <div class="col-lg-10 offset-lg-1">
          <div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5;">
            <div class="item">
              <i class="fa fa-quote-left"></i>
              <p>“Donec et nunc massa. Nullam non felis dignissim, dapibus turpis semper, vulputate lorem. Nam volutpat posuere tellus, in porttitor justo interdum nec. Aenean in dapibus risus, in euismod ligula. Aliquam vel scelerisque elit.”</p>
              <h4>John Doe</h4>
              <span>CEO of XYZ Company</span>
              <div class="right-image">
                <img src="assets/images/testimonials-01.jpg" alt="">
              </div>
            </div>
            <div class="item">
              <i class="fa fa-quote-left"></i>
              <p>“Etiam id ligula risus. Fusce fringilla nisl nunc, nec rutrum lectus cursus nec. In blandit nibh dolor, at rutrum leo accumsan porta. Nullam pulvinar eros porttitor risus condimentum tempus.”</p>
              <h4>John Doe</h4>
              <span>CEO of XYZ Company</span>
              <div class="right-image">
                <img src="assets/images/testimonials-01.jpg" alt="">
              </div>
            </div>
            <div class="item">
              <i class="fa fa-quote-left"></i>
              <p>“Ut dictum vehicula massa, ac pharetra leo tincidunt eu. Phasellus in tristique magna, ac gravida leo. Integer sed lorem sapien. Ut viverra mauris sed lobortis commodo.”</p>
              <h4>John Doe</h4>
              <span>CEO of XYZ Company</span>
              <div class="right-image">
                <img src="assets/images/testimonials-01.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}