{% extends 'raw_base.html' %}
  <!-- ***** Header Area End ***** -->
{% block content %}
  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-text">
            <h2>News <span style="color: #ff511a;">Insights</span></h2>
            <div class="div-dec"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="about-us" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>NLP-enriched News Intelligence Platform</h6>
            <h4>Transforms News to Account Triggers</h4>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-12">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <form action="{% url 'news_form'%}" method="post" enctype='multipart/form-data'>
                          {% csrf_token %}
                              <div class="main-list">
                                <h4 class="title">News Insights</h4>
                              </div>
                              <div class="list-item d-flex flex-column" style="font-weight: 500;">
                                <label for="input_files">Upload Input Files</label> <br>
                                <input type="file" id="input_files" required name="input_files" class="form-control" multiple/>
                                <p class="text-muted">* Supports multiple files</p>
                              </div>
                              <div class="list-item d-flex flex-column" style="font-weight: 500;">
                                <label for="search_keywords">Upload Search Keywords</label> <br>
                                <input type="file" id="keyword_file" name="keyword_file" reqiured class="form-control"/>
                              </div>
                              <div class="list-item" style="font-weight: 500;">
                                <div class="green-button">
                                    <button class="btn-success p-3 rounded text-white" style="font-weight: 500;" type='submit' >Generate</a>
                                </div>
                              </div>
                          </form>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="right-content">
            <br><br>
            <h4>How does it work?</h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, amet officia! Consequatur reiciendis, delectus, aut voluptatem explicabo repellendus suscipit 
              voluptatibus assumenda blanditiis impedit voluptatum porro fugit architecto est dolores. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <p class="text-white" style="font-size: 18px;"></p>
            <p class="text-white"></p>
{% endblock %}